<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="wrapper">
          <header>
            <img src="/img/gravatar.jpg" alt="Cade Truitt">
            <h1 class="title">Cade Truitt</h1>
            <p><a href="mailto:cadetruitt@gmail.com">cadetruitt@gmail.com</a></p>
            <ul>
              <li><a href="http://github.com/cade/">GitHub</a></li>
              <li><a href="http://stackoverflow.com/users/1356487/cade">StackOverflow</a></li>
              <li><a href="http://projecteuler.net/profile/cadetruitt.png">Project Euler</a></li>
              <li><a href="https://www.hackerrank.com/ctruitt">HackerRank</a> (n00b)</li>
            </ul>
          </header>

          {{ content }}
        </div>

    </body>
</html>
